In [1]:
import pandas as pd
import numpy as np
import seaborn as sbn
import joblib as jl
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_excel('SPX_train_0.xlsx', sheet_name='Sheet1')
print(df.head())

      Time  Returns        dp        dy        ep        de      svar  \
0  1945-01        1 -3.041609 -3.027403 -2.662340 -0.379269  0.000924
1  1945-02        0 -3.096132 -3.036338 -2.711553 -0.384579  0.000655
2  1945-03        1 -3.043790 -3.091042 -2.653829 -0.389961  0.001887
3  1945-04        1 -3.128109 -3.043790 -2.724389 -0.403720  0.001398
4  1945-05        0 -3.139500 -3.128109 -2.722106 -0.417394  0.000921

         bm      ntis     tbl     lty     ltr     tms     dfy     dfr  \
0  0.735342  0.016454  0.0038  0.0240  0.0127  0.0202  0.0077 -0.0051
1  0.704489  0.014836  0.0038  0.0236  0.0077  0.0198  0.0076 -0.0031
2  0.767883  0.015963  0.0038  0.0236  0.0021  0.0198  0.0076 -0.0003
3  0.715063  0.015086  0.0038  0.0228  0.0160  0.0190  0.0075 -0.0142
4  0.702911  0.019773  0.0038  0.0226  0.0056  0.0188  0.0070 -0.0067

       infl
0  0.000000
1  0.000000
2  0.000000
3  0.000000
4  0.005618

In [3]:
df.describe()

,Returns,dp,dy,ep,de,svar,bm,ntis,tbl,lty,ltr,tms,dfy,dfr,infl
count,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000
mean,0.573971,-3.491625,-3.485545,-2.768308,-0.723317,0.001928,0.529021,0.013211,0.039445,0.056055,0.005109,0.016610,0.009352,0.000212,0.002985
std,0.494773,0.434101,0.434575,0.438036,0.286600,0.003883,0.247800,0.019185,0.030916,0.028467,0.026594,0.013358,0.004258,0.013540,0.004455
min,0.000000,-4.523640,-4.530894,-4.836482,-1.244209,0.000072,0.120510,-0.057654,0.000100,0.016300,-0.112400,-0.036500,0.003200,-0.097500,-0.019153
25%,0.000000,-3.881547,-3.875365,-3.003524,-0.891068,0.000623,0.313667,0.004711,0.013350,0.031300,-0.008400,0.007800,0.006600,-0.005400,0.000000
50%,1.000000,-3.464718,-3.462002,-2.826525,-0.705886,0.001059,0.514835,0.016812,0.035300,0.049300,0.002700,0.015600,0.008100,0.000600,0.002839
75%,1.000000,-3.167254,-3.162066,-2.481150,-0.581994,0.002001,0.718146,0.026654,0.055950,0.075650,0.019000,0.026700,0.011100,0.005700,0.004932
max,1.000000,-2.597930,-2.585665,-1.774952,1.379530,0.070945,1.206530,0.051161,0.163000,0.148200,0.152300,0.045500,0.033800,0.073700,0.058824

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     899 non-null    object
 1   Returns  899 non-null    int64
 2   dp       899 non-null    float64
 3   dy       899 non-null    float64
 4   ep       899 non-null    float64
 5   de       899 non-null    float64
 6   svar     899 non-null    float64
 7   bm       899 non-null    float64
 8   ntis     899 non-null    float64
 9   tbl      899 non-null    float64
 10  lty      899 non-null    float64
 11  ltr      899 non-null    float64
 12  tms      899 non-null    float64
 13  dfy      899 non-null    float64
 14  dfr      899 non-null    float64
 15  infl     899 non-null    float64
dtypes: float64(14), int64(1), object(1)
memory usage: 112.5+ KB

In [5]:
df['Returns'].value_counts()

1    516
0    383
Name: Returns, dtype: int64

In [6]:
df.columns

Index(['Time', 'Returns', 'dp', 'dy', 'ep', 'de', 'svar', 'bm', 'ntis', 'tbl',
       'lty', 'ltr', 'tms', 'dfy', 'dfr', 'infl'],
      dtype='object')

In [7]:
col = ['dp', 'dy', 'ep', 'de', 'svar', 'bm', 'ntis', 'tbl',
       'lty', 'ltr', 'tms', 'dfy', 'dfr', 'infl']
X = df[col]
y = df['Returns']
X = X.astype('float')
y = y.astype('float')

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X, y)
log_reg = LogisticRegression()

In [9]:
log_reg.fit(X_train, y_train) #Train
log_reg.score(X_test, y_test) #Accuracy check

0.5555555555555556

In [11]:
inputs = [float(x) for x in "-0.1 -0.1 -0.1 -0.1 -0.2 -0.3 -0.4 -0.5 -0.6 -0.7 0.8 0.9 0.1 0.2".split(' ')]
final_inputs = [np.array(inputs)]

In [12]:
log_reg.predict(final_inputs)[0]

1.0

In [16]:
jl.dump(log_reg, 'ml/models/PredictReturnRegModel.joblib')

['ml/models/PredictReturnRegModel.joblib']